@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=MedievalSharp&display=swap');
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
 }

 :root{
    --Color001: rgb(1 24 1);
    --Color002:  rgb(31, 30, 30); 
}

    html, body{
          height: 100%;
          overflow: hidden;
    }

    body{
       background: black url(img/cabecario/img_porta/fundoIndex.png) top center repeat-y fixed;
       background-size: cover;
       background-position: center center;
       height: 3500px;
     }
    
    .wrapper{
        display : grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        height: 100vh;
        overflow-y: auto;
    }

     .cabecario{
         display: grid;
         grid-template-columns: 950px 1fr;
         grid-template-rows: 150px auto;
         grid-template-areas: 
         "T1 T1"
         "par img";
         grid-column: 1/-1;
         background-image: url(img/cabecario/img_porta/portaRpg.png);
         background-position: top center;
         background-repeat: no-repeat;
         background-size: 1fr 800px ;
         justify-self: center;
         align-self: center;
         width: 98%;
         height: 600px;
         box-shadow: 0px 0px 9px 0px var(--Color001); 
         
    }
    
     #imgPorta{
         width: auto;
         height: auto;
         justify-items: end;
         align-items: left;
         background-position: center center;
         background-image: url(img/cabecario/img_porta/imgPorta.png);
         background-repeat: no-repeat;
         grid-column: 2/2;
        }

    #titulo{
         width: auto;
         height: 80px;
         background-position: center center;
         justify-self: left;
         align-self: center;
         background-repeat: no-repeat;
         color: yellow;
        text-shadow: 5px 0px 0px black;
        font: bolder 3em "Eagle lake", serif;
        text-align: center;
        
    }

    #Intro p{
        padding-top: 10px;
        font-size: 0.7em;
        text-align: center;
        color: white;
    }

    #Intro{
        height: 400px;
          font: bolder 3em "Eagle lake", serif;
    }
    #Intro > ul{
        display: grid;
        height: 50px;
        grid-template-rows: auto auto auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "label label label "
        "li1 li2 li3"
        "li4 li4 li4";
        gap: 15px;
        padding-left: 80px;
        color: yellow;
        text-shadow: black -4px 2px 8px;;
    }
    li::marker {
     content: "🏹 ";
    }
    #Intro > ul > label{
        color: rgb(255, 255, 0);
        text-align: start;
        font-size: 0.9em;
        
    }

    #Intro > ul >li{
        font-size: 0.7em;
        grid-template-columns: 200px;
    }
    
    
       
     main{
         display: grid;
         grid-template-rows: auto, 1fr, auto;
     }
    
    .conteudo{
         background-color: #170018;
         background-position: center bottom;
         background-repeat: no-repeat;
         background-size: 1320px 800px ;
        justify-self: center;
         align-self: center;
         width: 1320px;
         height: 800px;
          box-shadow: 0px 0px 9px 0px var(--Color001);
    }

        
     .separacao{
         display: grid;
         justify-self: center;
         align-self: center;
         background-color: transparent ;/* ffd6a5*/
         width: 1320px;
         height: 600px;
    
    }

    .sectionSep{
          background-color:  #762f7b3b;/* ffd6a5*/
         justify-self: center;
         align-self: center;
         width: 1200px;
         height: 550px;
         box-shadow: 0px 0px 2px 1px rgba(70, 42, 26, 0.288);
         border-radius: 0px 20px;
         border: 0.5px solid black;
    }

     .rodape{
        background-color: #1d021fbd;
        color: white;
        width: auto;
        height: 600px;
        text-align: left;
    }

    #fontes{
         background-color: transparent;
         width: 200px;
         height: 150px;
        padding: 26px 0px 0px 213px;
         color: white;
    }

    #fontes ul{
            list-style-type: none;
    }

     #fontes a{
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          color: white;
          text-decoration: none;
    }

    #fontes a:hover{
        background-color: rgba(139, 0, 0, 0.205);
        background-color: Dar;
        font-weight: bolder;
        font-size: 2em;
        color: black;
        text-shadow: 1px 1px 1px darkblue;
        }